---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import * as constants from "@/constants";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import { cn } from "@/lib/utils";
import Navigation from "@/components/Navigation";
import Background from "@/components/Background";

// Vercel Analytics
import Analytics from "@vercel/analytics/astro";

// Canonical URL
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

type Props = {
  title?: string;
  description?: string;
  image?: string;
  className?: string;
};

const {
  title = constants.SITE_TITLE,
  description = constants.SITE_DESCRIPTION,
  image = "src/assets/riyanhossain.jpg",
  className = "",
} = Astro.props;
---

<html lang="en">
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Font preloads -->
  <!-- <link
    rel="preload"
    href="/fonts/BerkeleyMonoVariable-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="/fonts/BerkeleyMonoVariable-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
  /> -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap"
    rel="stylesheet"
  />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <!-- Client Router -->
  <ClientRouter />

  <!-- Vercel Analytics -->
  <Analytics />

  <body
    class={`font-lexend antialiased text-black dark:text-white transition-colors duration-500 bg-white dark:bg-black min-h-screen font-normal relative flex flex-col ${cn(
      className,
    )}`}
  >
    <Background client:only />
    <div class="flex-grow">
      <Navigation client:load />
      <div transition:name="Header">
        <Header client:load />
      </div>
      <main class="w-full max-w-2xl mx-auto px-5 lg:px-6 z-10">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
