---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import * as constants from "@/constants";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import { cn } from "@/lib/utils";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

type Props = {
  title?: string;
  description?: string;
  image?: string;
  className?: string;
};

const {
  title = constants.SITE_TITLE,
  description = constants.SITE_DESCRIPTION,
  image = "src/assets/riyanhossain.jpg",
  className = "",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/BerkeleyMonoVariable-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMonoVariable-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Cloudflare Web Analytics -->
    <!-- <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "84933259d875475985c66180f81b73bf"}'></script> -->
    <ClientRouter />
  </head>
  <body
    class={`font-lexend antialiased text-black bg-white min-h-screen font-normal flex flex-col ${cn(
      className,
    )}`}
  >
    <Header client:load />
    <main class="w-full max-w-2xl mx-auto px-5 lg:px-6 flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
